.App {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.App-header {
  flex: 0 1 auto;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
}

.App-content {
  flex: 1 1 auto;
}

.App-footer {
  flex: 0 1 40px;
}